<div class="navbar">
  <img
    src="../assets/burger.svg"
    alt="burgermenuicon"
    (click)="toggleHidden()"
    (keyup)="toggleHidden()"
    tabindex="0"
    role="button"
    aria-label="button"
  />
</div>
<nav class="nav" [hidden]="isShow">
  <ul class="nav-list nav-list-desk">
    <li>
      <a routerLink="/favorites">
        <img src="../assets/favorites.svg" alt="logoFavorites" width="30px" />
      </a>
    </li>
    <li>
      <a routerLink="/monsters"
        ><img src="../assets/monsters.svg" alt="logoMonsters" width="30px"
      /></a>
    </li>
    <li>
      <a routerLink="/treasures"
        ><img src="../assets/treasures.svg" alt="logoTreasures" width="30px"
      /></a>
    </li>
    <li>
      <a routerLink="/creatures"
        ><img src="../assets/creatures.svg" alt="logoCreatures" width="30px"
      /></a>
    </li>
    <li>
      <a routerLink="/equipment"
        ><img src="../assets/equipment.svg" alt="logoEquipament" width="30px"
      /></a>
    </li>
    <li>
      <a routerLink="/materials"
        ><img src="../assets/materials.svg" alt="logoMaterials" width="30px"
      /></a>
    </li>
    <li>
      <a routerLink="/create"
        ><img src="../assets/create.svg" alt="logoCreate" width="30px"
      /></a>
    </li>
  </ul>
</nav>
