/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

dasdasd {
  display: flex;
  justify-content: space-between;
  position: relative;
  position: absolute;
  top: 2rem;
  list-style-type: none;
  background-color: rgb(31, 30, 30);
  display: none;
}
@media screen and (max-width: 550px);
